    logLevel= 5; # OPTIONAL; enable printing of additional information= 0-critical; 1-error; (default)2-warning; 3-info; 4-verbose; 5-debug

    dev0 = "XTRX"; # OPTIONAL; will use first available device if not specified
#    dev0_ini = "LMS1_5G_MIMO_30p72_xtrx.ini"; # OPTIONAL; will use defaults settings as base
    dev0_chipIndex = 0; # OPTIONAL; will use 0 not specified
    dev0_maxChannelsToUse = 2;
    dev0_rx_path= "LNAH";
    dev0_tx_path= "BAND1";
 #   dev0_rx_oversample= 1;
#    dev0_tx_oversample= 1;

    dev0_rx_gfir_enable = 0; # OPTIONAL; by default 0
    #dev0_rx_gfir_bandwidth = 10e6; # OPTIONAL; by default is set to host's expected bandwidth
    dev0_tx_gfir_enable = 0; # OPTIONAL; by default 0
    #dev0_tx_gfir_bandwidth = 4.33e6; # OPTIONAL; by default is set to host's expected bandwidth
    dev0_calibration= "none";

    port0 = "dev0";
    port0_linkFormat= "I12"; # OPTIONAL; data format for transfering
