    logLevel= 5; # OPTIONAL; enable printing of additional information= 0-critical; 1-error; (default)2-warning; 3-info; 4-verbose; 5-debug
    
    tx_gain= 50.0;
    rx_gain= 17.0;
    
    port0 = "dev0,dev1"; #Port = X8 board. If one board is used, port0 is the only one. Dev = xtrx module. As default X8 has 8 devices
    port0_linkFormat= "I12"; # OPTIONAL; data format for transfering

#   ============ Device 0 ============

    dev0 = "LimeSDR MMX8"; # OPTIONAL; will use first available device if not specified
    dev0_ini = "LMS1_5G_MIMO_30p72_xtrx.ini"; # OPTIONAL; will use defaults settings as base
    dev0_chip_index = 0; # OPTIONAL; will use 0 not specified
    dev0_max_channels_to_use = 2;
    dev0_rx_path= "LNAH";
    dev0_tx_path= "BAND1";
#    dev0_rx_oversample= 1;
#    dev0_tx_oversample= 1;
    dev0_rx_gfir_enable = 0; # OPTIONAL; by default 0
    dev0_rx_gfir_bandwidth = 10e6; # OPTIONAL; by default is set to host's expected bandwidth
    dev0_tx_gfir_enable = 0; # OPTIONAL; by default 0
    dev0_tx_gfir_bandwidth = 4.33e6; # OPTIONAL; by default is set to host's expected bandwidth
    dev0_calibration= "none";
    
#   ============ Device 1 ============
    
    dev1 = "LimeSDR MMX8"; # OPTIONAL; will use first available device if not specified
    dev1_ini = "LMS1_5G_MIMO_30p72_xtrx.ini"; # OPTIONAL; will use defaults settings as base
    dev1_chip_index = 1; # OPTIONAL; will use 0 not specified
    dev1_max_channels_to_use = 2;
    dev1_rx_path= "LNAH";
    dev1_tx_path= "BAND1";
#    dev1_rx_oversample= 1;
#    dev1_tx_oversample= 1;
    dev1_rx_gfir_enable = 0; # OPTIONAL; by default 0
    dev1_rx_gfir_bandwidth = 10e6; # OPTIONAL; by default is set to host's expected bandwidth
    dev1_tx_gfir_enable = 0; # OPTIONAL; by default 0
    dev1_tx_gfir_bandwidth = 4.33e6; # OPTIONAL; by default is set to host's expected bandwidth
    dev1_calibration= "none";
  
#   ============ Device 2 ============
    
    dev2 = "LimeSDR MMX8"; # OPTIONAL; will use first available device if not specified
    dev2_ini = "OFF.ini"; # OPTIONAL; will use defaults settings as base
    dev2_chip_index = 2; # OPTIONAL; will use 0 not specified
    dev2_max_channels_to_use = 2;
    dev2_rx_path= "LNAH";
    dev2_tx_path= "BAND1";
#    dev2_rx_oversample= 1;
#    dev2_tx_oversample= 1;
    dev2_rx_gfir_enable = 0; # OPTIONAL; by default 0
    dev2_rx_gfir_bandwidth = 10e6; # OPTIONAL; by default is set to host's expected bandwidth
    dev2_tx_gfir_enable = 0; # OPTIONAL; by default 0
    dev2_tx_gfir_bandwidth = 4.33e6; # OPTIONAL; by default is set to host's expected bandwidth
    dev2_calibration= "none";
    
#   ============ Device 3 ============
    
    dev3 = "LimeSDR MMX8"; # OPTIONAL; will use first available device if not specified
    dev3_ini = "OFF.ini"; # OPTIONAL; will use defaults settings as base
    dev3_chip_index = 3; # OPTIONAL; will use 0 not specified
    dev3_max_channels_to_use = 2;
    dev3_rx_path= "LNAH";
    dev3_tx_path= "BAND1";
#    dev3_rx_oversample= 1;
#    dev3_tx_oversample= 1;
    dev3_rx_gfir_enable = 0; # OPTIONAL; by default 0
    dev3_rx_gfir_bandwidth = 10e6; # OPTIONAL; by default is set to host's expected bandwidth
    dev3_tx_gfir_enable = 0; # OPTIONAL; by default 0
    dev3_tx_gfir_bandwidth = 4.33e6; # OPTIONAL; by default is set to host's expected bandwidth
    dev3_calibration= "none";
    
#   ============ Device 4 ============
    
    dev4 = "LimeSDR MMX8"; # OPTIONAL; will use first available device if not specified
    dev4_ini = "OFF.ini"; # OPTIONAL; will use defaults settings as base
    dev4_chip_index = 4; # OPTIONAL; will use 0 not specified
    dev4_max_channels_to_use = 2;
    dev4_rx_path= "LNAH";
    dev4_tx_path= "BAND1";
#    dev4_rx_oversample= 1;
#    dev4_tx_oversample= 1;
    dev4_rx_gfir_enable = 0; # OPTIONAL; by default 0
    dev4_rx_gfir_bandwidth = 10e6; # OPTIONAL; by default is set to host's expected bandwidth
    dev4_tx_gfir_enable = 0; # OPTIONAL; by default 0
    dev4_tx_gfir_bandwidth = 4.33e6; # OPTIONAL; by default is set to host's expected bandwidth
    dev4_calibration= "none";
    
#   ============ Device 5 ============
    
    dev5 = "LimeSDR MMX8"; # OPTIONAL; will use first available device if not specified
    dev5_ini = "OFF.ini"; # OPTIONAL; will use defaults settings as base
    dev5_chip_index = 5; # OPTIONAL; will use 0 not specified
    dev5_max_channels_to_use = 2;
    dev5_rx_path= "LNAH";
    dev5_tx_path= "BAND1";
#    dev5_rx_oversample= 1;
#    dev5_tx_oversample= 1;
    dev5_rx_gfir_enable = 0; # OPTIONAL; by default 0
    dev5_rx_gfir_bandwidth = 10e6; # OPTIONAL; by default is set to host's expected bandwidth
    dev5_tx_gfir_enable = 0; # OPTIONAL; by default 0
    dev5_tx_gfir_bandwidth = 4.33e6; # OPTIONAL; by default is set to host's expected bandwidth
    dev5_calibration= "none";
    
#   ============ Device 6 ============
    
    dev6 = "LimeSDR MMX8"; # OPTIONAL; will use first available device if not specified
    dev6_ini = "OFF.ini"; # OPTIONAL; will use defaults settings as base
    dev6_chip_index = 6; # OPTIONAL; will use 0 not specified
    dev6_max_channels_to_use = 2;
    dev6_rx_path= "LNAH";
    dev6_tx_path= "BAND1";
#    dev6_rx_oversample= 1;
#    dev6_tx_oversample= 1;
    dev6_rx_gfir_enable = 0; # OPTIONAL; by default 0
    dev6_rx_gfir_bandwidth = 10e6; # OPTIONAL; by default is set to host's expected bandwidth
    dev6_tx_gfir_enable = 0; # OPTIONAL; by default 0
    dev6_tx_gfir_bandwidth = 4.33e6; # OPTIONAL; by default is set to host's expected bandwidth
    dev6_calibration= "none";
    
#   ============ Device 7 ============
    
    dev7 = "LimeSDR MMX8"; # OPTIONAL; will use first available device if not specified
    dev7_ini = "OFF.ini"; # OPTIONAL; will use defaults settings as base
    dev7_chip_index = 7; # OPTIONAL; will use 0 not specified
    dev7_max_channels_to_use = 2;
    dev7_rx_path= "LNAH";
    dev7_tx_path= "BAND1";
#    dev7_rx_oversample= 1;
#    dev7_tx_oversample= 1;
    dev7_rx_gfir_enable = 0; # OPTIONAL; by default 0
    dev7_rx_gfir_bandwidth = 10e6; # OPTIONAL; by default is set to host's expected bandwidth
    dev7_tx_gfir_enable = 0; # OPTIONAL; by default 0
    dev7_tx_gfir_bandwidth = 4.33e6; # OPTIONAL; by default is set to host's expected bandwidth
    dev7_calibration= "none";
