    name= "limesuite";

    port0= "LimeSDR-X3"; # OPTIONAL; will use first available device if not specified
    port0_ini= "LMS2_5G_MIMO_TX1_RXH_EXT.ini"; # OPTIONAL; will use defaults settings as base

    port0_chipIndex= 0; # OPTIONAL; will use 0 not specified
    #port0_rxPath= "FDD";
    #port0_txPath= "FDD";

    port0_rxPath= "LNAL";
    port0_txPath= "BAND1";

    #port0_rx_oversample= 2;
    port0_tx_oversample= 2;
    # gain parameter overrides=
    #port0_G_LNA_RFE= 0; # OPTIONAL; 0-min; 15-max
    #port0_G_PGA_RBB= 0; # OPTIONAL; 0-min; 31-max
    #port0_CG_IAMP_TBB= 0; # OPTIONAL; 0-min; 64-max
    #port0_LOSS_MAIN_TXPAD_TRF= 0; # OPTIONAL; 0-max; 31-min

    #port0_rx_gfir_enable= 1; # OPTIONAL; by default 0
    #port0_rx_gfir_bandwidth= 10e6; # OPTIONAL; by default is set to host's expected bandwidth
    #port0_tx_gfir_enable= 1; # OPTIONAL; by default 0
    #port0_tx_gfir_bandwidth= 4.33e6; # OPTIONAL; by default is set to host's expected bandwidth

    #port0_sampleRate= 122.88e6;
    #rxPower_dBm= 0; # OPTIONAL; hint about absolute RX power in dBm; assuming a square signal of maximum amplitude
    port0_ch0_txPower_dBm= -10; # OPTIONAL; hint about absolute TX power in dBm; assuming a square signal of maximum amplitude
    port0_ch1_txPower_dBm= -10; # OPTIONAL; hint about absolute TX power in dBm; assuming a square signal of maximum amplitude

    port0_calibration= "none";
    logLevel= 5; # OPTIONAL; enable printing of additional information= 0-critical; 1-error; (default)2-warning; 3-info; 4-verbose; 5-debug
    port0_linkFormat= "I16"; # OPTIONAL; data format for transfering

    #port0_usePoll= 1; # OPTIONAL; sleep until data is available; reduces CPU load
    #port0_rxSamplesInPacket= 512; # OPTIONAL; number of samples in single Rx packet; max 512
    #port0_txSamplesInPacket= 512; # OPTIONAL; number of samples in single Rx packet; max 512
    #port0_rxPacketsInBatch= 32; # OPTIONAL; number of Rx packets in each data transfer; max depends on 'rxSamplesInPacket'; rxSamplesInPacket*rxPacketsInBatch should be < 4080; will be clamped to max available value
    #port0_txMaxPacketsInBatch= 32; # OPTIONAL; max number of Tx packets in each data transfer; max 8

    port0_writeRegisters= "d50000;d60033;d70168;d8000C;ffff0001;a107ff;a207ef;a3008e;ffff0002;a107FF;a2078f;a30f81;ffff0001;8107ff;82072e;830f31;8400d2;85fa9c;ffff0002;810780;8207ff;8300da;84fefb;85fed6;";    

    #port0_writeRegisters= "d50000;d60000;d70000;d8000F;ffff0001;a107ff;a207ef;a3008e;ffff0002;a107FF;a2078f;a30f81;ffff0001;8107ff;82072e;830f31;8400d2;85fa9c;ffff0002;810780;8207ff;8300da;84fefb;85fed6;";
    
    #port0_ch0_pa_dac= 65001; # OPTIONAL; PA DAC value
    #port0_ch1_pa_dac= 65003; # OPTIONAL; PA DAC value
    #tx_sample_advance = 100; #10000;
    resetBoard = 1;

#PROBLEMS= 61.44 with oversample 2 has connectivity issues 
